@font-face {
    font-family: 'Comic-sans';
    src: url('../fonts/comic.eot');
    src: local('☺'), url('../fonts/comic.woff') format('woff'), url('../fonts/comic.ttf') format('truetype'), url('../fonts/comic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: inherit;
    font-family: 'Comic-sans';
}

* {
    padding: 0;
    margin: 0;
}

.wall {
    max-width: 850px;
    min-width: 400px;
    margin: 0px auto;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    position: relative;
    left: 22px;
    padding-bottom: 16px;
}

.title-system {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    border: 1px solid;
    padding: 0px 85px;
}

.title-logout {
    font-size: 14px;
    position: relative;
    left: 8px;
    top: 14px;
}

.sdt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 44px;
}

.sdt-item {
    display: flex;
    justify-content: center;
    flex-basis: 24%;
    max-width: 24%;
    text-align: center;
}

.students-list {
    list-style: none;
    padding-left: 0;
    padding: 7px 0px;
}

.scroll {
    overflow-y: scroll;
    height: 350px;
    min-height: 300px;
    border: 3px outset;
}

form {
    display: inline;
}

.nameDiscipline {
    text-align: start;
}

.listOfSomething {
    text-align: center;
    padding: 10px
}

.viewStudents {
    padding: 2px 5px;
}

.modifyStudents {
    padding: 2px 37px;
}

.createStudent {
    padding: 2px 45px;
}

.deleteStudents {
    padding: 2px 5px;
}

.createDiscipline {
    padding: 2px 71px;
}

.modifyDisciplines {
    padding: 2px 5px;
}

.deleteDisciplines {
    padding: 2px 32px;
}

.inputLogPass {
    padding: 2px;
}

.justEnter {
    padding: 2px 33px
}

.enterSystem {
    padding: 10px 0px;
}

.tableStudents {
    text-align: center;
    border-collapse: separate;
    border-spacing: 3px;
    background: darkseagreen;
    border: 1px solid;
    width: 100%;
}

.tableDisciplines {
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
    background: darkseagreen;
    border: 1px solid;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    background: lavender;
}

.tableWithoutCheckboxes {
    width: 100%;
}

.discButton {
    padding: 1px 55px;
    margin: 0 75px;
    margin-top: 4px;
    border: 3px outset;
    border-color: cadetblue;
    background-color: silver;
    font-size: 15px;
}

.discButtonTwo {
    padding: 1px 45px;
    margin: 0 75px;
    margin-top: 4px;
    border: 3px outset;
    border-color: cadetblue;
    background-color: silver;
    font-size: 15px;
}

.sign {
    padding: 10px 0px;
}

.inputSurname {
    margin-left: 105px;
}

.inputName {
    margin-left: 142px;
}

.inputGroup {
    margin-left: 119px;
}

.inputDate {
    margin-left: 33px;
}

.inputButton {
    margin-left: 179px;
    padding: 4px 55px;
    margin-top: 4px;
    border: 3px outset;
    border-color: cadetblue;
    background-color: silver;
    font-size: 15px;
}

.inputButtonTwo {
    margin-left: 179px;
    padding: 4px 44px;
    margin-top: 4px;
    border: 3px outset;
    border-color: cadetblue;
    background-color: silver;
    font-size: 15px;
}

.tableTerms {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
    background: darkseagreen;
    border: 1px solid;
}

.modifyTerm {
    padding: 2px 5px;
}

.deleteTerm {
    padding: 2px 34px;
}

.createTerm {
    padding: 2px 62px;
}

.termSelect {
    padding: 1px 27px;
    background-color: gainsboro;
    border: double;
}

.justEnterTerms {
    padding: 2px 11px;
    background: gainsboro;
    border: double;
}


@media (max-width: 515px) {
    .title {
        padding: 0px 0px;
    }
}

@media (max-width: 866px) {
    .title {
        position: static;
    }
}